body {
    font-family: "Swanky and Moo Moo", cursive;
}
.card-title {
    font: 500 1rem "federo", sans-serif;
}
.card-img-overlay .card-title {
    position: bottom;
    color: #FCFAFA;
    background-color: rgba(22, 42, 60, 0.321);
}